
/*Estilo prinicpal*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


h2 {
	font-size: 30px;
	text-align: center;
	text-transform: uppercase; /* cambia a mayuscula */
	font-weight: 500; /* grosor de la fuente */
	padding-bottom: 50px; /* espacio abajo */
    color: rgb(238, 13, 88) ;
}

h4 {
	font-size: 1.25em;
	text-transform: uppercase; 
	padding-bottom: 1.25em;
	font-weight: 500;
    color: rgb(41, 41, 41);
}

p {
	font-size: 1em;
	margin: 0.625em 0; /*margen */
	line-height: 1.7em; /* salto de linea */
}

a {
	text-decoration: none; /* le saca el subrayado a los enlaces*/
}

.lugar {
	font-size: 16px;
}

.btn {
	display: inline-block;
	font-size: 1rem;
	padding: 1rem 2.5rem; /*15 px refiere a superior e inferior. 40px a laterales*/
	letter-spacing: 1px;
}

.btn-outline {
	background: #ee0d58;
	border: 0.3rem solid #efff0d;
	color: rgb(245, 245, 118);
	text-transform: uppercase;
	font-weight: 500;

}

.btn-outline:hover {                    /*para cuando le pasas el mouse por encima*/
	background: rgb(245, 245, 118);
	color: rgb(238, 13, 88);
}

/* Navegacion */
#navegacion {
	overflow: auto;
	padding-top: 20px;
	padding-bottom: 20px;
}

#navegacion a {              /*darle color de los enlaces*/
	color: #000;
}

#navegacion .logo {
	float: left;
	padding-top: 10px;
	width: 70%;
}

#navegacion img {
	height: 50px;
}

#navegacion ul {
	list-style: none;     /*le saca los puntos a la lista*/
	float: right;        /*manda la lista hacia la derecha*/
}

#navegacion ul li {        /*para acomodar los elementos de lista*/
	float: left;
}

#navegacion ul li a {      /* para darle uniformidad a la lista*/
	display: block;
	padding: 20px;
	text-align: center;
}

/* Ventana */
#ventana {
	background: url(portada.png);
	background-position: center;
	background-size: cover;   /*cover hace que la imagen quede como portada*/
    height: 50%;
	width: auto;
	text-align: center;
	padding: 8%;
	box-sizing: border-box;
}

#ventana .btn {       /*para centrar el boton*/
	margin-top: 30%;
}

/* Proyectos */
#proyectos {
	padding: 5em 0;
}

.proyectos-row {
	display: flex;   /* hace que quede una imagen al lado de la otra */
}

.proyectos-row img {
	width: 100%;
	height: auto;
}

/* Yo */
#sobremi {
	padding: 80px 0;
	background: rgb(245, 245, 118);
}

.sobremi-row {
	display: flex;  
}

.sobremi-row-experiencia,
.sobremi-row-yo {                  /*esto es para que me queden los dos bloques de textos separados pero en la misma linea*/
	width: 50%;
	padding-left: 50px;
}

/* Contacto */
#contacto {
	padding: 100px 0;
}

.contacto-row {
	display: flex;
}
.contacto-row-icono {
	width: 50%;
	text-align: center;
}

.contacto-row-icono img {
	height: 70px;
}
.contenedor-principal {
	width: 95%;
	max-width: 2000px;
	margin: 0 auto;
	overflow: hidden;
}


@media screen and (max-width: 760px){
	#ventana .btn {
		margin-top: 58%;
		font-weight: 500;
		padding: 0.5rem 1.5rem;
	}
	#navegacion .logo {
		width: 100%;
	}
}


/*.container {              /* para los margenes laterales 
	margin: auto;
	max-width: 1300px;
	overflow: auto;
	padding: 0 20px;
} */